.form {
    text-align: right;
}

.form button {
    font: inherit;
    cursor: pointer;
    background-color: var(--color-2);
    border: 1px solid var(--color-2);
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}

.form button:hover, .form button:active {
    background-color: var(--color-5);
    border-color: var(--color-5);
}