.main-theme {
    --color-1: #264653;
    --color-2: #2A9D8F;
    --color-3: #E9C46A;
    --color-4: #F4A261;
    --color-5: #E76F51;
    --color-background: whitesmoke;
 }

body {
    background-color: var(--color-background);
}